body {
    text-align: center;
    margin: 0px;
    background: #fafafc;
}

main{
    flex-grow: 1;
}

.navbar {
    height: 35px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    grid-area: navbar;
}

.footer {
    height: 20px;
    margin-top: auto;
    padding: 2rem 0;
    background: #000;
    color: #fff;
    text-align: center;
    grid-area: footer;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.home {
    cursor: pointer;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 4rem;
    border-radius: 1rem;
    width: 15rem;
}

.form-container iframe {
    height: 80vh;
    width: 40rem;
    max-width: 100%;
    border: none;
}

.togglebutton {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin: 2rem;
    height: 20px;
    font-weight: bold;
}

.togglebutton div {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
}

.togglebutton input[type="radio"] {
    transform: scale(1.5);
    cursor: pointer;
}